<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <table>
      <tr>
        <td><img src="../statics/LogoIni.jpg" width="100"></td>
        <td><h1>Enigma Books</h1></td>
      </tr>
    </table>
    <form>
      <fieldset>
        <legend><h2>Agregar Libro</h2></legend>
        <table>
          <tr>
            <td>Agregar Imagen:<input type="file" name="Portada"></td>
            <td>
              Nombre:<input type="text" name="Obra">
              <br>
              Autor:<input type="text" name="Autor">
              <br>
              Genero:<input type="text" name="Genero">
              <br>
              Clasificación:<input type="text" name="Clasificación">
              <br>
              Año:<input type="text" name="Año">
              <br>
              Editorial:<input type="text" name="Editorial">
              <br>
              Categoria:<input type="text" name="Categoria">
              </td>
          </tr>
          <tr>
            <td>Descripción del Libro:
              <br>
            <textarea rows="10" cols="50"></textarea> </td>
            <td>Agregar Archivo:<input type="file" name="PDF"></td>
          </tr>
        </table>
        <input type="submit" name="SubArchivo" value="Agregar Libro" >
      </fieldset>
    </form>
    <br>
    <input type="submit" name="GoBack" value="Regresar">
  </body>
</html>