<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <table>
      <tr>
        <td><img src="../statics/LogoIni.jpg" width="100"></td>
        <td><h1>Enigma Books</h1></td>
      </tr>
    </table>
    <form action="VistaSeguncuenta.php" method="post">
      <fieldset>
        <legend><h3>Crear Cuenta</h3></legend>
        Nombre(s):<input type="text" name="NombreUsuario">
        <br>
        Apellidos:<input type="text" name="ApellidosUsuario">
        <br>
        Correo Instituciional:<input type="email" name="CorreoUsuario">
        <br>
        Fecha de Nacimiento:<input type="date" name="FNUsuario">
        <br>
        Numero de Cuenta o RFC:<input type="text" name="id_usuario">
        <br>
        Contraseña:<input type="password" name="ContraUsuario">
        <br>
        Usuario:
        <select>
          <option value="1">Alumno</option>
          <option value="2">Profesor</option>
          <option value="2">Tecnico Académico</option>
           <option value="2">Laboratorista</option>
        </select>
        <br>
        Tipo de Cuenta:
        <select>
          <option value="Lector">Lector</option>
          <option value="Bibliotecario">Bibliotecario</option>
          <option value="Administrador">Administrador</option>
        </select>
        <table>
          <tr>
            <td><input type="submit" name="CrearCuenta"value="Crear Cuenta"></td>
          </form>
          <form>
            <td><input type="submit" name="GoBack" value="Regresar"></td>
          </form>
            
          </tr>
        </table>
      </fieldset>
  </body>
</html>