<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
   <table border=1>
    <tr>
      <td colspan="6"><h1>Enigma Books</h1></td>
    </tr>
    <tr>
      <td>Se busco:</td>
      <td> </td>
      <td>Categorias:</td>
      <td> </td>
      <td>Resultados:</td>
      <td> </td>
    </tr>
    <tr>
      <td colspan="2">Libro id_libro <input type="submit" name="VerLib" value="Ver Libro"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
    </tr>
   </table>
  </body>
</html>